@import "tailwindcss";
@import "./theme.css";
@import "./fonts.css";


@layer base {
   html {
      @apply font-main text-base h-full bg-[#f5f8ff];
   }
   body {
      @apply h-full;
   }
   .wrapper {
      @apply flex flex-col min-h-screen overflow-hidden;
   }
   .wrapper > main {
      @apply flex-auto;
   }
   .cnt {
      @apply max-w-[1246px] px-[15px] mx-auto;
   }
   .title {
      @apply font-secondary font-bold text-6xl max-sm:text-5xl max-xs:text-4xl leading-[120%];
   }
   .text {
      @apply text-[14px] leading-[150%] text-gray;
   }

   :before,
   :after,
   a {
      @apply inline-block;
   }
}

#check .swiper {
   overflow: visible;
}

@media (max-width: 47.99875rem) {
   #check .swiper {
      display: flex;
      flex-direction: column-reverse;
      gap: 32px;
   }
}

@layer utilities {
   .faq-icon {
      @apply before:absolute before:h-3.75 before:w-0.5 before:bg-main before:content-[''] after:absolute after:w-0.5 after:h-3.75 after:rotate-90 after:bg-main before:transition-all before:duration-500 after:content-[''];
   }
}